body{
    color: white;
    section{
        padding: 50px 0 30px 0;
    }
    section:not(#introduction):not(#Feedbacks){
        border-top: 1px solid white;
    }
}
// Edit ScrollBar
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: rgba(247, 243, 243,0.1); 
}
::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background: white; 
}
//---------------------------------------------------------
.navbar {
	margin: 0;
	padding: 0;
	.navbar-nav {
		width: 100%;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-transition: all 1s linear;
		transition: all 1s linear;
		li.nav-item {
			a {
				color: white;
				font-size: 20px;
				vertical-align: middle;
			}
			&:hover {
				background-color: black;
			}
			a#title {
				font-size: 30px;
				font-family: 'Lato', sans-serif;
			}
			img {
				max-height: 50px;
			}
		}
		ul.contain-list{
			padding: 0px;
			display: flex;
			flex-direction: row;
			li{
				list-style-type: none;
				a{
					color: white;
				}
			}
			li:hover{
				background-color: black;
			}
		}
		li.btn-dropdown{
			margin-right: 5px;
			padding: 0px;
			text-align: center;
			width: 10%;
			display: none;
		}
		.nav-after {
			&:after {
				content: "";
				display: block;
				border-bottom: solid 3px #019fb6;
				-webkit-transform: scaleX(0);
				transform: scaleX(0);
				-webkit-transition: -webkit-transform 0.25s ease-in-out;
				transition: -webkit-transform 0.25s ease-in-out;
				transition: transform 0.25s ease-in-out;
				transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
			}
			&:hover {
				&:after {
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
					-webkit-transition: -webkit-transform 0.25s ease-in-out;
					transition: -webkit-transform 0.25s ease-in-out;
					transition: transform 0.25s ease-in-out;
					transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
				}
			}
		}
	}
@media screen and (max-width: 810px){
	.navbar-nav {
		ul.contain-list{
			// display: flex;
			display: none;
			position: absolute;
			flex-direction: column;
			top: 60px;
			background-color: #5c6870;
			width: 100%;
			align-items: center;
			border-top: 1px solid white;
			li{
				width: auto;
				a{
					padding: 2px;
				}
			}
		}
		li.btn-dropdown{
			display: block;
		}
	}
}
}
.navChange {
	.navbar-nav {
		background-color: #5c6870;
		transition: all 1s linear;
		-webkit-transition: all 1s linear;
		-moz-transition: all 1s linear;
		-o-transition: all 1s linear;
	}
}
.navLiChange {
	background-color: black;
}
.nav-afterChange {
	&::after {
		content: "";
		display: block;
		border-bottom: solid 3px #019fb6;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transition: -webkit-transform 0.25s ease-in-out;
		transition: -webkit-transform 0.25s ease-in-out;
		transition: transform 0.25s ease-in-out;
		transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
	}
}
.carousel {
	a.carousel-control-prev {
		&:hover {
			-webkit-transition: 0.8s;
			transition: 0.8s;
			background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(black));
			background-image: linear-gradient(to left, rgba(0, 0, 0, 0), black);
		}
	}
	a.carousel-control-next {
		&:hover {
			-webkit-transition: 0.8s;
			transition: 0.8s;
			background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(black));
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black);
		}
	}
	.carousel-inner {
		img {
			height: calc(100vh - 61px);
		}
		.carousel-caption {
			font-family: 'Monoton', cursive;
		}
	}
@media screen and (max-width: 960px){
	.carousel-inner {
		img {
			height: auto;
		}
	}
}
}
#introduction {
	div {
		padding: 10px;
		margin: 0 auto 40px;
		border: 3px solid;
		width: 350px;
		position: relative;
		font-size: 20px;
		h2 {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-item-align: center;
			align-self: center;
			margin: 0;
			font-family: 'Lato', sans-serif;
			font-size: 2em;
		}
	}
@media screen and (max-width: 540px){
	div{
		width: 250px;
		img{
			width: 20%;
			height: auto;
		}
		h2{
			font-size: 1.5em;
		}
	}
}
}
#Products{
	h2{
		text-align: center;
		margin-bottom: 30px;
	}
	.product-container{
		display: flex;
		justify-content: space-between;
	}
	.left-col{
		padding: 0;
		width: 200px;
		h5{
			margin: 0;
		}
		div:first-child{
			position: sticky;
			top: 65px;
		}
		ul.menu{
			background-color: whitesmoke;
			color: black;
			border-radius: 10px;
			list-style-type: none;
			padding: 0;
			li{
				padding: 10px 0 10px 20px;
			}
			li:focus{
				background-color: rgb(111, 117, 151);
			}
			li.toggleShow{
				border-top: 0.5px solid grey;
			}
			li:not(.child):hover{
				background-color: rgb(19, 32, 110);
				color: white;
			}
			li.child{
				display: none;
				padding: 0;
				ul{
					padding: 0;
					list-style-type: none;
					li{
						padding: 5px 0 5px 40px;
					}
					li:hover{
						background-color: rgb(23, 81, 117);
						color: whitesmoke;
					}
				}
			}
			li.whenActive{
				background-color: rgb(70, 63, 0);
				color: white;
			}
		}
		div.details, div.compare{
			margin-top: 5px;
			background-color: white;
			color: saddlebrown;
		}
		div.details{
			padding: 5px 30px;
			h4{
				text-align: center;
				color: rgb(136, 44, 1);
			}
			p{
				margin: 0;
				display: flex;
				justify-content: space-between;
			}
			button{
				width: 100%;
			}
		}
		div.compare{
			display: flex;
			flex-direction: column;
			img{
				width: 100%;
				height: auto;
			}
			div{
				padding: 5px 30px;
				p:first-child{
					text-align: center;
					font-weight: bolder;
				}
				p{
					margin: 0;
				}
			}
		}
	}
	.right-col{
		width: calc(100% - 200px - 20px);
		align-self: flex-start;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		grid-template-rows: auto;
		grid-gap: 20px;
		.grid-item{
			background-color: white;
			color: black;
			display: flex;
			flex-direction: column;
			position: relative;
			overflow: hidden;
			button.brand{
				border-radius: 30px;
				color: black;
				background-color: white;
				border: 5px solid black;
				position: absolute;
				top: 10px;
				left: 30px;
				box-shadow: 0px 0px 20px 10px rgb(248, 248, 248);
				box-shadow: 0px 0px 10px 10px rgb(248, 248, 248);
			}
			button.compare{
				position: absolute;
				right: 10px;
				top: 10px;
				box-shadow: 0px 0px 20px 5px black;
				transform: translateY(-70px);
				transition: transform 0.5s;
			}
			&:hover{
				button.compare{
					transform: translateY(0px);
					transition: transform 0.5s;
				}
			}
			img{
				width: 100%;
			}
			p{	
				margin: 0 0 2px 0;
				font-size: 1.2em;
				font-weight: 500;
				color: black;
				align-self: center;
			}
			div{
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 10px;
				h5{
					margin: 0;
					color: rgb(255, 138, 29);
					margin-left: 40px;
				}
				button{
					margin: 0 40px 0 auto;
				}
			}
		}
		.grid-item:hover{
			transform: translate(0, -4px);
			box-shadow: 3px 3px 10px white;
		}
	}
@media screen and (max-width: 720px){
	.product-container{
		display: flex;
		flex-direction: column;
	}
	.left-col{
		width: 100%;
		z-index: 1;
		ul.menu{
			display: flex;
			overflow: hidden;
			li{
				padding-left: 0;
			}
			li:not(.child){
				flex: 1;
				text-align: center;
			}
			li.toggleShow{
				border: none;
			}
			li.child{
				display: none;
				width: 100%;
				position: absolute;
				width: 33.3%;
				top: 44px;
				color: black;
				background-color: white;
				border-radius: 5px;
				overflow: hidden;
				background-color: 1px solid black;
				border: 2px solid black;
				ul{
					display: flex;
					flex-direction: column;
					li{
						padding: 5px;
					}
				}
			}
			li#brands{
				left: 33.3%;
			}
			li#types{
				right: 0;
			}
		}
		div.details, div.compare{
			display: none;
		}
	}
	.right-col{
		width: 100%;
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
		grid-gap: 10px;
		.grid-item{
			button.compare{
				display: none;
			}
		}
	}
}
}
#Locations {
	text-align: center;
	border-top: 1px solid white;
	.loHover{
		iframe{
			border: 2px solid yellow;
			border-radius: 20px;
			margin: 10px 0 15px 0;
		}
		iframe,p,h3{
			transition: all 0.3s;
		}
	}
	.loHover:hover{
		iframe{
			box-shadow: 0px -5px 50px yellow;
			transition: all 0.3s;
		}
		h3{
			text-shadow: 0 -5px 10px yellow;
			transition: all 0.3s;
		}
		p{
			transform: translateY(10px);
			transform: scale(1.1,1.1);
			border-radius: 5px;
			font-weight: bolder;
			transition: all 0.3s;
		}
	}
@media only screen and (max-width: 480px){
	.loHover{
		padding: 0;
		iframe{
			width: 80%;
			height: 300px;
		}
	}
}
}
#About_Us{
    padding-left: 0;
	padding-right: 0;
	h1,p{
		text-align: center;
	}
	fieldset{
		border: 1px solid white;
		border-radius: 10px;
		border-bottom: none;
        legend{
            font-weight: bolder;
            font-style: italic;
            width: auto;
            padding: 0 20px;
			margin-left: 30px;
		}
		div.parentFlex{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
		}
		div.flex-child{
			text-align: center;
			padding: 0;
			font-size: 20px;
			width: 300px;
			margin: 30px;
			h5{
				margin: 0;
				min-height: 64px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			img{
				width: 100%;
			}
			div.doFade{
				display: none;
				flex-direction: column;
				align-items: center;
				background-color: white;
				color: black;
				
				h5{
					padding: 0 5px;
					margin: 0;
					font-size: 1em;
					font-weight: bolder;
					min-height: 60px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				a{	
					margin: 0 0 10px 30px;
					align-self: flex-start;
				}
				P{
					display: none;
				}
				button{
					color: white;
				}
			}
		}
	}
}
#Contact{
	h1{
		text-align: center;
		margin-bottom: 20px;
	}
	div.col-md-6{
		min-height: 300px;
		margin: 10px 0;
	}
	div.col-md-6:last-child{
		display: grid;
		grid-template-columns: 1;
		grid-template-rows: 3;
	}
	div.col-md-6:last-child p,a{
		margin: 0;
	}
	div.col-md-6:last-child h4{
		margin: 0 0 5px 0;
	}
@media only screen and (max-width: 480px){
	h1{
		font-size: 32px;
	}
}
}
#Feedbacks{
	width: 50%;
	h3{
		text-align: center;
		margin-bottom: 30px;
	}
	label{
		font-size: 20px;
	}
	textarea{
		resize: none;
	}
	button[type="submit"]{
		display: block;
		width: 30%;
		margin: 50px auto 0px;
		font-size: 20px;
		font-weight: bolder;
	}
	button[type="submit"]:hover{
		background-color: rgb(0, 233, 50);
		box-shadow: 0 0 20px rgb(60, 250, 85);
	}
	.valid{
		border: 2px solid rgb(60, 250, 85);
		box-shadow: 0 0 10px rgb(60, 250, 85);
	}
	.invalid{
		border: 2px solid rgb(247, 20, 20);
		box-shadow: 0 0 10px rgb(247, 20, 20);
	}
	/* Remove Arrows/Spinners of input number*/
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	}

	/* Firefox */
	input[type=number] {
	-moz-appearance: textfield;
	}
@media only screen and (max-width: 864px){
	width: 100%;
	button[type="submit"]{
		width: 100%;
	}
}
}
.modalChe{
	height: 100vh;
	color: black;
	width: 100%;
	position: fixed;
	z-index: 9999;
	top: 0;
	background-color: rgba(0,0,0,0.8);
	display: none;
	h4{
		background-color: black;
		color: white;
		font-style: italic;
		border: 2px solid;
		padding: 3px;
		border-radius: 20%;
	}
	.modal-dialog{
		margin-top: 5%;
	}
}
#Footer{
	display: flex;
	padding: 2px 10px;
	font-size: 16px;
	.left{
		margin-right: 30px;
		.logo{
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
			img{
				width: 50px;
				height: 50px;
			}
			p{
				font-size: 2em;
				margin: 0 0 0 10px;
			}
		}
	}
	.right{
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		.icon{
			width: 20%;
			display: flex;
			justify-content: center;
			a{
				margin: 0 10px;
				color: white;
				font-size: 3em;
			}
		}
		.license{
			width: 80%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: flex-end;
			.footNav{
				width: 100%;
				display: flex;
				justify-content: flex-end;
				a{
					margin-left: 20px;
				}
			}
			p{
				margin: 0;
			}
		}
	}
@media only screen and (max-width: 960px ){
	.right{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		.icon{
			width: 100%;
			justify-content: flex-end;
			a{
				margin: 0 10px;
				color: white;
				font-size: 2em;
			}
		}
		.license{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: flex-end;
			.footNav{
				width: 100%;
				display: flex;
				justify-content: flex-end;
				a{
					margin-left: 20px;
				}
			}
			p{
				margin: 0;
			}
		}
	}
}
@media only screen and (max-width: 768px ){
	flex-direction: column;
	.left{
		margin: 0;
		text-align: center;
	}
	.right{
		.icon{
			width: 100%;
			justify-content: center;
			a{
				margin: 0 10px;
				color: white;
				font-size: 2em;
			}
		}
		.license{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			.footNav{
				justify-content: center;
				a{
					margin: 0 10px;
				}
			}
			p{
				margin: 0;
			}
		}
	}
}
}