body {
  color: white;
}

body section {
  padding: 50px 0 30px 0;
}

body section:not(#introduction):not(#Feedbacks) {
  border-top: 1px solid white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(247, 243, 243, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar .navbar-nav {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.navbar .navbar-nav li.nav-item a {
  color: white;
  font-size: 20px;
  vertical-align: middle;
}

.navbar .navbar-nav li.nav-item:hover {
  background-color: black;
}

.navbar .navbar-nav li.nav-item a#title {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

.navbar .navbar-nav li.nav-item img {
  max-height: 50px;
}

.navbar .navbar-nav ul.contain-list {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .navbar-nav ul.contain-list li {
  list-style-type: none;
}

.navbar .navbar-nav ul.contain-list li a {
  color: white;
}

.navbar .navbar-nav ul.contain-list li:hover {
  background-color: black;
}

.navbar .navbar-nav li.btn-dropdown {
  margin-right: 5px;
  padding: 0px;
  text-align: center;
  width: 10%;
  display: none;
}

.navbar .navbar-nav .nav-after:after {
  content: "";
  display: block;
  border-bottom: solid 3px #019fb6;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.navbar .navbar-nav .nav-after:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media screen and (max-width: 810px) {
  .navbar .navbar-nav ul.contain-list {
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 60px;
    background-color: #5c6870;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid white;
  }
  .navbar .navbar-nav ul.contain-list li {
    width: auto;
  }
  .navbar .navbar-nav ul.contain-list li a {
    padding: 2px;
  }
  .navbar .navbar-nav li.btn-dropdown {
    display: block;
  }
}

.navChange .navbar-nav {
  background-color: #5c6870;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
}

.navLiChange {
  background-color: black;
}

.nav-afterChange::after {
  content: "";
  display: block;
  border-bottom: solid 3px #019fb6;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.carousel a.carousel-control-prev:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), black);
}

.carousel a.carousel-control-next:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black);
}

.carousel .carousel-inner img {
  height: calc(100vh - 61px);
}

.carousel .carousel-inner .carousel-caption {
  font-family: 'Monoton', cursive;
}

@media screen and (max-width: 960px) {
  .carousel .carousel-inner img {
    height: auto;
  }
}

#introduction div {
  padding: 10px;
  margin: 0 auto 40px;
  border: 3px solid;
  width: 350px;
  position: relative;
  font-size: 20px;
}

#introduction div h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}

@media screen and (max-width: 540px) {
  #introduction div {
    width: 250px;
  }
  #introduction div img {
    width: 20%;
    height: auto;
  }
  #introduction div h2 {
    font-size: 1.5em;
  }
}

#Products h2 {
  text-align: center;
  margin-bottom: 30px;
}

#Products .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Products .left-col {
  padding: 0;
  width: 200px;
}

#Products .left-col h5 {
  margin: 0;
}

#Products .left-col div:first-child {
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
}

#Products .left-col ul.menu {
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
  list-style-type: none;
  padding: 0;
}

#Products .left-col ul.menu li {
  padding: 10px 0 10px 20px;
}

#Products .left-col ul.menu li:focus {
  background-color: #6f7597;
}

#Products .left-col ul.menu li.toggleShow {
  border-top: 0.5px solid grey;
}

#Products .left-col ul.menu li:not(.child):hover {
  background-color: #13206e;
  color: white;
}

#Products .left-col ul.menu li.child {
  display: none;
  padding: 0;
}

#Products .left-col ul.menu li.child ul {
  padding: 0;
  list-style-type: none;
}

#Products .left-col ul.menu li.child ul li {
  padding: 5px 0 5px 40px;
}

#Products .left-col ul.menu li.child ul li:hover {
  background-color: #175175;
  color: whitesmoke;
}

#Products .left-col ul.menu li.whenActive {
  background-color: #463f00;
  color: white;
}

#Products .left-col div.details, #Products .left-col div.compare {
  margin-top: 5px;
  background-color: white;
  color: saddlebrown;
}

#Products .left-col div.details {
  padding: 5px 30px;
}

#Products .left-col div.details h4 {
  text-align: center;
  color: #882c01;
}

#Products .left-col div.details p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Products .left-col div.details button {
  width: 100%;
}

#Products .left-col div.compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Products .left-col div.compare img {
  width: 100%;
  height: auto;
}

#Products .left-col div.compare div {
  padding: 5px 30px;
}

#Products .left-col div.compare div p:first-child {
  text-align: center;
  font-weight: bolder;
}

#Products .left-col div.compare div p {
  margin: 0;
}

#Products .right-col {
  width: calc(100% - 200px - 20px);
  align-self: flex-start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
}

#Products .right-col .grid-item {
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

#Products .right-col .grid-item button.brand {
  border-radius: 30px;
  color: black;
  background-color: white;
  border: 5px solid black;
  position: absolute;
  top: 10px;
  left: 30px;
  -webkit-box-shadow: 0px 0px 20px 10px #f8f8f8;
          box-shadow: 0px 0px 20px 10px #f8f8f8;
  -webkit-box-shadow: 0px 0px 10px 10px #f8f8f8;
          box-shadow: 0px 0px 10px 10px #f8f8f8;
}

#Products .right-col .grid-item button.compare {
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-box-shadow: 0px 0px 20px 5px black;
          box-shadow: 0px 0px 20px 5px black;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#Products .right-col .grid-item:hover button.compare {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#Products .right-col .grid-item img {
  width: 100%;
}

#Products .right-col .grid-item p {
  margin: 0 0 2px 0;
  font-size: 1.2em;
  font-weight: 500;
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#Products .right-col .grid-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

#Products .right-col .grid-item div h5 {
  margin: 0;
  color: #ff8a1d;
  margin-left: 40px;
}

#Products .right-col .grid-item div button {
  margin: 0 40px 0 auto;
}

#Products .right-col .grid-item:hover {
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
  -webkit-box-shadow: 3px 3px 10px white;
          box-shadow: 3px 3px 10px white;
}

@media screen and (max-width: 720px) {
  #Products .product-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Products .left-col {
    width: 100%;
    z-index: 1;
  }
  #Products .left-col ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  #Products .left-col ul.menu li {
    padding-left: 0;
  }
  #Products .left-col ul.menu li:not(.child) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  #Products .left-col ul.menu li.toggleShow {
    border: none;
  }
  #Products .left-col ul.menu li.child {
    display: none;
    width: 100%;
    position: absolute;
    width: 33.3%;
    top: 44px;
    color: black;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    background-color: 1px solid black;
    border: 2px solid black;
  }
  #Products .left-col ul.menu li.child ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Products .left-col ul.menu li.child ul li {
    padding: 5px;
  }
  #Products .left-col ul.menu li#brands {
    left: 33.3%;
  }
  #Products .left-col ul.menu li#types {
    right: 0;
  }
  #Products .left-col div.details, #Products .left-col div.compare {
    display: none;
  }
  #Products .right-col {
    width: 100%;
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: 10px;
  }
  #Products .right-col .grid-item button.compare {
    display: none;
  }
}

#Locations {
  text-align: center;
  border-top: 1px solid white;
}

#Locations .loHover iframe {
  border: 2px solid yellow;
  border-radius: 20px;
  margin: 10px 0 15px 0;
}

#Locations .loHover iframe, #Locations .loHover p, #Locations .loHover h3 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#Locations .loHover:hover iframe {
  -webkit-box-shadow: 0px -5px 50px yellow;
          box-shadow: 0px -5px 50px yellow;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#Locations .loHover:hover h3 {
  text-shadow: 0 -5px 10px yellow;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#Locations .loHover:hover p {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  border-radius: 5px;
  font-weight: bolder;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 480px) {
  #Locations .loHover {
    padding: 0;
  }
  #Locations .loHover iframe {
    width: 80%;
    height: 300px;
  }
}

#About_Us {
  padding-left: 0;
  padding-right: 0;
}

#About_Us h1, #About_Us p {
  text-align: center;
}

#About_Us fieldset {
  border: 1px solid white;
  border-radius: 10px;
  border-bottom: none;
}

#About_Us fieldset legend {
  font-weight: bolder;
  font-style: italic;
  width: auto;
  padding: 0 20px;
  margin-left: 30px;
}

#About_Us fieldset div.parentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#About_Us fieldset div.flex-child {
  text-align: center;
  padding: 0;
  font-size: 20px;
  width: 300px;
  margin: 30px;
}

#About_Us fieldset div.flex-child h5 {
  margin: 0;
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#About_Us fieldset div.flex-child img {
  width: 100%;
}

#About_Us fieldset div.flex-child div.doFade {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: black;
}

#About_Us fieldset div.flex-child div.doFade h5 {
  padding: 0 5px;
  margin: 0;
  font-size: 1em;
  font-weight: bolder;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#About_Us fieldset div.flex-child div.doFade a {
  margin: 0 0 10px 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#About_Us fieldset div.flex-child div.doFade P {
  display: none;
}

#About_Us fieldset div.flex-child div.doFade button {
  color: white;
}

#Contact h1 {
  text-align: center;
  margin-bottom: 20px;
}

#Contact div.col-md-6 {
  min-height: 300px;
  margin: 10px 0;
}

#Contact div.col-md-6:last-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 3;
      grid-template-rows: 3;
}

#Contact div.col-md-6:last-child p, #Contact a {
  margin: 0;
}

#Contact div.col-md-6:last-child h4 {
  margin: 0 0 5px 0;
}

@media only screen and (max-width: 480px) {
  #Contact h1 {
    font-size: 32px;
  }
}

#Feedbacks {
  width: 50%;
  /* Remove Arrows/Spinners of input number*/
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

#Feedbacks h3 {
  text-align: center;
  margin-bottom: 30px;
}

#Feedbacks label {
  font-size: 20px;
}

#Feedbacks textarea {
  resize: none;
}

#Feedbacks button[type="submit"] {
  display: block;
  width: 30%;
  margin: 50px auto 0px;
  font-size: 20px;
  font-weight: bolder;
}

#Feedbacks button[type="submit"]:hover {
  background-color: #00e932;
  -webkit-box-shadow: 0 0 20px #3cfa55;
          box-shadow: 0 0 20px #3cfa55;
}

#Feedbacks .valid {
  border: 2px solid #3cfa55;
  -webkit-box-shadow: 0 0 10px #3cfa55;
          box-shadow: 0 0 10px #3cfa55;
}

#Feedbacks .invalid {
  border: 2px solid #f71414;
  -webkit-box-shadow: 0 0 10px #f71414;
          box-shadow: 0 0 10px #f71414;
}

#Feedbacks input::-webkit-outer-spin-button,
#Feedbacks input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Feedbacks input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 864px) {
  #Feedbacks {
    width: 100%;
  }
  #Feedbacks button[type="submit"] {
    width: 100%;
  }
}

.modalChe {
  height: 100vh;
  color: black;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.modalChe h4 {
  background-color: black;
  color: white;
  font-style: italic;
  border: 2px solid;
  padding: 3px;
  border-radius: 20%;
}

.modalChe .modal-dialog {
  margin-top: 5%;
}

#Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 10px;
  font-size: 16px;
}

#Footer .left {
  margin-right: 30px;
}

#Footer .left .logo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Footer .left .logo img {
  width: 50px;
  height: 50px;
}

#Footer .left .logo p {
  font-size: 2em;
  margin: 0 0 0 10px;
}

#Footer .right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#Footer .right .icon {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Footer .right .icon a {
  margin: 0 10px;
  color: white;
  font-size: 3em;
}

#Footer .right .license {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#Footer .right .license .footNav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#Footer .right .license .footNav a {
  margin-left: 20px;
}

#Footer .right .license p {
  margin: 0;
}

@media only screen and (max-width: 960px) {
  #Footer .right {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Footer .right .icon {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #Footer .right .icon a {
    margin: 0 10px;
    color: white;
    font-size: 2em;
  }
  #Footer .right .license {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #Footer .right .license .footNav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #Footer .right .license .footNav a {
    margin-left: 20px;
  }
  #Footer .right .license p {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  #Footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Footer .left {
    margin: 0;
    text-align: center;
  }
  #Footer .right .icon {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #Footer .right .icon a {
    margin: 0 10px;
    color: white;
    font-size: 2em;
  }
  #Footer .right .license {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #Footer .right .license .footNav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #Footer .right .license .footNav a {
    margin: 0 10px;
  }
  #Footer .right .license p {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */